<ul class="nav navbar-nav navbar-right">
    <li><a href="#"><span class="glyphicon glyphicon-user"></span> @User.Identity.Name</a></li>
    <li><a href="@Url.Action("SignOut","User")"><span class="glyphicon glyphicon-log-in"></span> Sign Out</a></li>
</ul>
