<ul class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action("SignUp","User")"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="@Url.Action("LogIn","User")"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
</ul>
